body {
    box-sizing: border-box;
    
}

.responsive {
    max-width: 100%;
    height: auto;
  }

.container {
  max-width: 980px;
}



/*Header */

.header {
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  height: 100vh;

}

.main-title {
  text-align: center;
  margin-top: 7rem;
}

.main-title h1 {
  color: #fff;
  font-size: 45pt;
  font-weight: 300;
  letter-spacing: 2px;
}

.main-title p {
  color: #fff;
  font-size: 20pt;
}


.btn-main {
   cursor: pointer;
   border: 2px solid #fff;
   border-radius: 1.5rem;
   padding: 0.4rem 1.6rem;
   background-color: transparent;
   filter: brightness(120%);
   font-size: 14pt;
   font-weight: 300;
   letter-spacing: 0.1rem;
   color: #fff;
   margin: 9pt;
}

.btn-main:hover {
  background-color: #fff;
  color:#1dc8cd;
}

.btn-main:active {
  transform: translateX(0 0.3rem);
}
/*Navbar*/ 

nav {
  background: linear-gradient(35deg, #1de099, #1dc8cd);
  
}

.navbar {
  height: 5rem;
  text-align: center;

}

.navbar-brand {
  color: #fff;
  text-transform:uppercase;
  font-size: 27pt;
}

.navbar-nav li a {
  color: #fff;
}

.dropdown-menu {
  background: #fff;


}

.dropdown-menu li a {
  color: grey;
}

.main-img  {
  display: flex;
  align-items: center;
  justify-content: center;

}

.main-img img {
  position: relative;
}

/*About Us*/ 

.title {
  text-align: center;
  padding: 3%;
}

.title hr {
  border: 2px solid #1de099;
  width: 4rem;
  margin: 0 auto;
  padding: 1rem auto;
}

.title h3 {
  font-weight: 350;
  font-size: 27pt;
  padding: 1rem;
}

.title p {
  font-style: italic;
  font-size: 13pt;
  width: 40%;
  margin: 0 auto;
  padding: 1rem;
  color: grey;
}

.about_as {
  background-color: #eff5f5;

}

/*
.about_as_content {
  display: flex;
  justify-content: center;
  align-items:  flex-start;
 
}


.about-img {
  width: 50%;
}

.about_as_sub {
  width: 50%;
  padding: 0 3rem;
}

*/

.about_as_sub h4 {
  font-size: 27pt;
  color: rgb(92, 92, 92);
  font-weight: 350;
}

.about_as_sub-list li i {
  color: #1de099;

}

.about_as_sub i {
  font-style: italic;
  letter-spacing: 1px;
  font-size: 15pt;
  color: grey;
  font-weight: 300;
}

.about_as_sub p {
  font-size: 14pt;
  color: grey;
}

/*Product Features */

.feautures_img {
  padding-top: 3%;
}

.features-item {
  width: 50%;
  text-align: center;
  padding: 1rem 1.3rem;
}

.features-item i {
  color: #1dc8cd;
  font-size: 27pt;
}

.features-item h5 {
  font-size: 20pt;
  font-weight: 300;
  margin: 4% auto;
  color: #111;
}

.features-item p {
  color: grey;
  font-size: 11pt;
}

.features-info {
  display: grid;
  justify-self: stretch;
}

/*Product Features section 1*/
.features-details-first {
  background-color: #eff5f5;
  
}
.features-details-first-text, .features-details-img,
.features-details-third-text {
  padding: 3% 0; 
}

.features-details-first-text  h4{
  font-size: 22pt;
}

.features-details-first-text i {
 
  color: grey;
  font-size: 14pt;
}

.features-details-first-text p {
  color: grey;
  font-size: 13.5pt;
}

/*Product Features section 2*/


.features-detals-second-list-item  i {
  color: #1dc8cd;
  font-size: 30pt;
  padding-top: 1rem;
  padding-right: 1rem;
}

.features-detals-second-list-item  {
  display: flex;
  flex-direction: row;
  font-size: 18pt;
 
}

.features-detals-second-list {
  padding: 2rem;
  left: 0;
}


/*Product Features section 3*/

.features-third-section {
  background-color: #eff5f5;
  
}




/*Call to action */
.call_to_action {
  background-image: url("img/call-to-action-bg.jpg");
 
}

.call_to-title div {
 
  margin: 5% auto;
}


.call_to_action-title h5 {
  color: #fff;
  font-size: 20pt;
  font-weight: 600;

}

.call_to_action-title p {
  color: #fff;
  font-size: 13.5pt;
}


.btn-call {
  cursor: pointer;
   border: 2px solid #fff;
   border-radius: 1.5rem;
   padding: 0.4rem 1.6rem;
   background-color: transparent;
   font-size: 14pt;
   font-weight: 300;
   letter-spacing: 0.1rem;
   color: #fff;
   margin: 2rem auto;
}

.btn-call:hover {
  background-color:rgba(29, 224, 153, 0.5);
  
}

.btn-call:active {
  filter: brightness(120%);
}

/*More Features*/

.more_features {
  background-color: #eff5f5;
}

.more_features-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 4rem;
}

.more_features-item {
  width: 40%;
  display: flex;
  background-color: #fff;
  margin: 1rem;
  padding: 2rem 0.8rem;
  box-shadow:0px 3px 23px 5px rgba(0,0,0,0.07);
}

.more_features-icon i {
  color: #1de099;
  font-size: 34pt;
  padding: 2rem;
}

.more_features-sub {
  width: 74%;
}

.more_features-sub h5 {
  font-size: 16pt;
}

.more_features-sub p {
  color: grey;
}





/*brands*/

.partners_logo {
  padding: 3rem 0;
  position: relative;
 
}

.partners_logo img {

  opacity: 0.5;
  filter: alpha(opacity=50); /* Для IE8 и ранее */
  
}

.partners_logo img:hover {
  opacity: 100;
  filter: alpha(opacity=120); /* Для IE8 и ранее */


}


/*Pricing*/
.prising {
  background-color: #eff5f5;
}

.prising_info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.prising_info-box {
  background-color: #fff;
  text-align: center;
  padding: 2rem;
  margin: 1rem;
}


.prising_info-box-title h6 {
  font-size: 22pt;
  color: grey;
  font-weight: 400;
}


.prising_info-box-sub {
  text-align: left;
  color: grey;
}

.prising_info-box-sub i {
  color: #1dc8cd;
  padding:0 0.5rem;
}

.btn-prising {
  cursor: pointer;
  border: 1px solid #515e61;
  border-radius: 15px;
  background-color: #515e61;
  color: #fff;
  padding: 0.2rem 1.6rem;
}

.biz {
 border: 2px solid #1dc8cd;
}

.btn-biz {
  cursor: pointer;
  border-radius: 15px;
  border: 2px solid #1dc8cd;
  background:  linear-gradient(35deg, #1de099, #1dc8cd);
  color: #fff;
  padding: 0.2rem 1.4rem;
  outline: none;
}

.btn-biz:hover {
  background:  linear-gradient(55deg, #1de099, #1dc8cd);
}

.btn-biz:active, .btn-prising:active {
  filter: brightness(125%);
}
/*FAQ*/


/*Team*/
.team {
  background-color: #eff5f5;
}

.team_info {
  display: flex;
  padding: 5%;
}

.team_info-item {
  text-align: center;
  color: #515e61;
}

.team_info-item h6 {
  font-size: 16pt;
  padding-top: 1rem ;
}

.team_info-item p {
  font-style: italic;
  padding-top: 0;
}

.team_info-item-icon i {
 color: grey;
 font-size: 13pt;
 padding: 0.1rem;
}

.team_info-item-icon i:hover {
  color: #1dc8cd;
}

/*Gallery*/


/*Footer */

/*
.gallery-info {
  display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-row-gap:0;
}

*/

.gallery-info {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  /* Minimum width of 24rem and grow to fit available space */
  width: 33.33%;
  height: auto;
  /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
 
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

/*
.gallery-info img {
 
}
*/

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.gallery-image:hover {
  transform: scale(1.15);
}
